.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: 80vw;
}

.search-wrapper-shows {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: 100%;
  background-color: #3d434e;
}

.seach-results-container-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 20px 0;
  background-color: rgb(255, 217, 0);
}

.search-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    background-color: #111
}

.search-result-title {
  width: 70%;
  text-align: left;
  font-size: 1rem;
  font-weight: 450;
  color: white;
  margin: 1px;
}

.show-item {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  margin: 1px;
  font-size:small;
  width: 100px;
  margin: 10px;

}

