/* deets.css */

* {
  box-sizing: border-box; /* makes sizing calculations include padding and margins to output expected results. */
}

/* Container styles (apply only to the ShowDetails page. dont b a fool) */

.show-details-container {
  display: flex;
  flex-direction: row;
  background-color: black; /* dark gray ish background for the container */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow for the container */
  padding: 20px;
  text-align: left;
}


/* Body styles (Apply only to the ShowDetails page) */
.show-details-body {
  background-color: black; /* Dark black background */
  color: #fff; /* White text color */
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center; /* trying to center content horizontally */
  align-items: flex-start;
  height: 90vh; /* make the content full height of the viewport */

}

.show-details-body ul {
  list-style-type: none; /* removes the bullet points from the list */

}

.show-details-img-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Image styles (Apply only to the ShowDetails page) */
.show-details-img {
  box-sizing: border-box;
  object-fit: contain;
  transition: transform 0.3s;
  border: 6px solid rgb(212, 181, 0);
  max-height: 100%;
  width: auto; /* Allow the image width to adjust automatically */
}

/* Add a hover effect to scale the image by 1.5 times on hover */
.show-details-img:hover {
  transform: scale(1.3);
}

/* Heading styles */
.show-details-h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: text-decoration 0.3s ease, font-weight 0.3s ease; /* Add transition for text decoration and font weight */
}

/* Subheading styles */
.show-details-h4 {
  font-size: 18px;
  color: #bbb;
  transition: text-decoration 0.3s ease, font-weight 0.3s ease; /* Add transition for text decoration and font weight */
}

/* Paragraph styles */
.show-details-p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ccc;
  transition: text-decoration 0.3s ease, font-weight 0.1s ease; /* Add transition for text decoration and font weight */
}

/* Add underline and make text bold on hover */
.show-details-h1:hover,
.show-details-h4:hover,
.show-details-p:hover {
  color: rgb(212, 181, 0);
  font-weight: bold;
}
