.App {
  text-align: center;
}

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav-bar a.active{
  color: #282c34;
  background-color: rgb(255, 217, 0);
  border-color: #e6e35c 20px solid;
  border-radius: 4px;
  padding: 10px;
}

nav {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  justify-content: space-between; /* Add space between GMDB and Search */
  padding: 0.75% 2%;
  font-size: 2.3rem;
  color:rgb(255, 217, 0);
}

.header-container-movies {
  box-sizing: border-box;
  background-color: #282c34;
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  font-size: 2.3rem;
  color:rgb(255, 217, 0);
}

.HomeLink {
  color: rgb(255, 217, 0);
  font-weight: 600;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid rgb(212, 181, 0);
  border-radius: 10px;
 }

 img:hover {
  transform: scale(2);
  transition: transform 0.3s ease-in;
  cursor: pointer;
 }

.logo-image {
  width: 3.5em;
  border: none;
  transform: none !important;
  transition: none !important;
}

.HomeLink-shows {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.movie-home-button {
  color: rgb(255, 217, 0);
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
}

.movie-home-button:hover {
  color: #282c34;
  background-color: rgb(255, 217, 0);
  border-color: #e6e35c 20px solid;
  border-radius: 4px;
  padding: 10px;
}

.shows--card {
  display: inline-block;
  margin: 10px;
  width: 15%;
  box-sizing: border-box;

}

.shows--card:hover {
  transform: scale(.75);
  cursor: pointer;
}

.movies--card {
  display: inline-block;
  margin: 10px;
  width: 15%;
  box-sizing: border-box;
}

.movies--card:hover {
  transform: scale(.75);
  cursor: pointer;
}

.movie {
  width: 20%;
  margin: 2px 2px;
}

.Search input[type="text"] {
  height: 3em;
  width: 85vw;
  border-radius: 10px;
  padding: 10px;
  background-color: #3d434e;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 217, 0);
  background-color: #282c34;
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
  height: 3em;
  width: 10em;
  border-color:rgb(255, 217, 0);
  text-align: center; /* Center the text */
  cursor: pointer;
}

.submit:hover {
  color: #282c34;
  background-color: rgb(255, 217, 0);
  border-color: #282c34;
}

.search-wrapper-movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

/* App.css */
body {
  background-color: #000; /* Dark background color for the entire page */
  color: #fff; /* White text color */
  margin: 0;
  padding: 0;
}

/* Add styles for the notification banner */
.notification-banner {
  position: fixed; /* Fixed position at the top of the viewport */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 217, 0); /* Red background color for the banner */
  color: black; /* White text color */
  padding: 10px;
  text-align: center;
  z-index: 1001; /* Ensure the banner appears above other content */
}

.dismiss-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
}

.dismiss-button:hover {
  text-decoration: none;
}

.shows-nav-bar {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  justify-content: space-between; /* Add space between GMDB and Search */
  align-items: center;
  padding: 0.75% 2%;
  font-size: 2.3rem;
  color:rgb(255, 217, 0);

}

.seach-results-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 20px 0;
  background-color: rgb(255, 217, 0);
}

.seach-results-title h1{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 20px 0;
  background-color: rgb(255, 217, 0);
}